<section id='article'>
  <div>
    <img src='/21wilhite-blogSmallInline.gif' width='800px' alt='' />
  </div>
  <p>{{name}} was born {{born}}. He invented {{invention}} </p>
  <h2>Stephen Earl Wilhite March 3, 1948 – March 14, 2022</h2>
  <p>
    Stephen Earl Wilhite was an American computer scientist who worked at
    CompuServe and was the Engineering Lead on the team that adapted the GIF
    image file format from the earlier Unisys-owned LZW algorithm. GIF went on
    to become the de facto standard for 8-bit color images on the Internet until
    PNG became a viable alternative. Known as the inventor or creator of the
    GIF, he received a Webby Lifetime Achievement Award in 2013.
  </p>
  <div>
    <img src='/babygif.gif' />
  </div>
  <h5>seemingly the dancing Baby gif was his most favourite one</h5>

  <div>
    <img src='/gif-3f8b1bcdb1a10d86.gif' />
  </div>
  <h5>the first gif ever made by Steve</h5>
</section>