<h1>“Actually, it is pronounced <i>jif</i> ”</h1>
<div>
  <img
    src='/uwp973614.gif'
    width='auto'
    height='100%'
    alt='Farewell Mr. Stephen E. Wilhite'
  />
</div>
<h3>Farewell Mr. Stephen E. Wilhite (March 3, 1948 – March 14, 2022)</h3>