html,
body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(107, 24, 184);
  box-sizing: border-box;
}

h1 {
  font-size: 6em;
  color: rgb(107, 24, 184);
}

h3 {
  margin-top: 40px;
}

p {
  max-width: 50%;
}

nav {
  list-style: none;
  font-size: 1.2em;
  display: flex;
  justify-content: right;
  padding-right: 1em;
  text-transform: uppercase;
  margin-right: 40px;
}

nav a {
  margin-top: 20px;
  margin-left: 1em;
  text-decoration: none;
  color: rgb(107, 24, 184);
}

nav a:hover {
  color: black;
}

#article {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 40px;
}

.img-gallery img {
  width: 40%;
  margin: 4%;
}

.img-gallery-small img {
  width: 20%;
  margin: 1%;
}
